[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
psycopg2 = "*"
pandas = "*"
marshmallow = "*"
werkzeug = "*"
alembic = "*"
requests = "*"
beautifulsoup4 = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.14"
